<div class='section-container'>
    <div class="marketing-header">
        <h1><%= title %></h1>
        <div class="lead">
            <p>测试</p>
        </div>
    </div>
    <hr />
    <% for(each in post_list){ %>
    <div class="section">
        <h2><a href="/article/<%= post_list[each].postId %>"> <%= post_list[each].title %> </a></h2>
        
        <div class="label-container">
            <span class="label label-default">Default</span>
			<span class="label label-default">Primary</span>
			<span class="label label-default">Success</span>
			<span class="label label-info">Info</span>
			<span class="label label-warning">Warning</span>
			<span class="label label-danger">Danger</span>
        </div>
        <div class="small-container">
            <small>
                <span class='js_author'>作者：<%= post_list[each].user %></span>
                <span class='js_time'><%= post_list[each].time %></span>
            </small>
        </div>
    </div>
    <% } %>
    
    <div class="section-footer">
        <ul class="pagination" id="index_articles">
            <%= n_sum %>
        </ul>
    </div>
</div>
<script src="/javascripts/index_articles.js"></script>
<div class="fixed-nav-left">
    <div class="fixed-nav-container">
        <div class="fixed-nav-unit">
            <a href="/">首页</a>
            <a href="#body">顶部</a>
            <a href="#footer">底部</a>   
        </div>
        <ul>
        	<li><a href="#body">返回顶部</a></li>
    	</ul>
    </div>
    
</div>