<div id='left-side-container'>
    
</div>
<div class='section-container' id='article-container'>
    <div class="marketing-header">
        <h1><%= title %></h1>
        <div class="lead">
            <p>测试</p>
        </div>
    </div>
    <hr />
    <% for(each in post_list){ %>
    <div class="section">
        <h3><a href="/article/<%= post_list[each].postId %>"> <%= post_list[each].title %> </a></h3>
        
        <div class="label-container">
            <% for(each_label in post_list[each].label ){ %>
                <% if(post_list[each].label[each_label]){ %>
                <span class="label label-default"><%= post_list[each].label[each_label] %></span>
                <% } %>
            <% } %>
        </div>
        <div class="small-container">
            <small>
                <span class='js_author'>作者：<%= post_list[each].user %></span>
                <span class='js_time'><%= post_list[each].time %></span>
            </small>
        </div>
    </div>
    <% } %>
    
<!--
    <div class="section-footer">
        <ul class="pagination" id="index_articles">
            //<%= n_sum %>
        </ul>
    </div>
-->
</div>
<script src="/javascripts/index_articles.js"></script>